extends ../layout/page

block content
  +logo

  +content
    +hello("Sergey", "gray-ru")

    +row(style="font-size: 16px; color: #979797; line-height: 150%; padding: 0 32px 16px")
      p(style="margin:0 0 16px") Ты успешно изменил свой пароль для входа в Tap.link.
      p(style="margin:0 0 16px") Если ты не менял свой пароль, то немедленно обратись в поддержку:

    +row(style="text-align: center; padding: 0 0 16px")
      +btn({ href: "mailto:support@tap.link", text: "Поддержка Tap.link" })

  +footerNotUnsubscribe
