extends ../layout/page

block content
  +logo

  +content

    +row(style="font-size: 16px; color: #979797; line-height: 150%; padding: 0 32px 16px")
      p
        +textLink({ href: "welcome-1.html", text: "welcome-1"})
      p
        +textLink({ href: "welcome-2.html", text: "welcome-2"})
      p
        +textLink({ href: "page-with-1-btn.html", text: "page-with-1-btn"})
      p
        +textLink({ href: "page-with-2-btns.html", text: "page-with-2-btns"})
      p
        +textLink({ href: "signup.html", text: "signup"})
      p
        +textLink({ href: "30-days.html", text: "30-days"})
      p
        +textLink({ href: "changed-password.html", text: "changed-password"})
      p
        +textLink({ href: "confirmation-email.html", text: "confirmation-email"})
      p
        +textLink({ href: "disabled-pro.html", text: "disabled-pro"})
      p
        +textLink({ href: "disabled-social.html", text: "disabled-social"})
      p
        +textLink({ href: "password-recovery.html", text: "password-recovery"})
      p
        +textLink({ href: "payment-error.html", text: "payment-error"})
      p
        +textLink({ href: "payment-error2.html", text: "payment-error2"})
      p
        +textLink({ href: "test-period-ends.html", text: "test-period-ends"})
      p
        +textLink({ href: "7-days-free.html", text: "7-days-free"})
      p
        +textLink({ href: "payment-first-month.html", text: "payment-first-month"})
