extends ../layout/page

block content
  +logo2

  +row(style="text-align: center; padding: 0 0 32px;")
    p(style="margin: 0 auto 32px; font-size: 24px; max-width: 440px; font-weight: bold") Мы благодарим Вас за регистрацию в Tap.link и приветствуем в сервисе!
    p(style="margin: 0; font-size: 16px; line-height: 22px; color: #626262; padding: 0 15px") Это первое из нескольких писем, которые позволят Вам познакомиться с возможностями сервиса и создавать трендовые сайты, мобильные сайты, портфолио, страницу для интернет-магазина, навигацию по разделам сайта и т.д.

  +row
    img(src="https://tihomirov.pro/email/pic1.jpg" alt="image" width="100%" style="display:block; border: 0")

  +row(style="text-align: center; padding: 50px 0px;")
    p(style="margin: 0 auto; font-size: 24px; max-width: 350px; font-weight: bold") Не дайте своей аудитории пропустить всё самое важное

  +row(style="background: #F0F0F0; padding: 40px 0")

    +content2(style="padding-bottom: 10px; width: 100%")
      tr
        td(style="padding: 0; text-align: center")
          +content2(style="display: inline-block; padding: 0 15px; max-width: 200px; width: 100%" valign="middle")
            tr
              td(style="padding: 0")
                img(src="https://tihomirov.pro/email/pic2.png" alt="image" width="170" style="display:block; border: 0; margin: 0 auto")
          +content2(style="display: inline-block; text-align: left; width: 100%; padding: 32px 15px; max-width: 390px" valign="top")
            tr
              td(style="padding: 0")
                p(style="margin: 0 0 16px; font-size: 24px; font-weight: bold; max-width: 290px") Публикуйте ссылки и контент в одном месте
                p(style="margin: 0; font-size: 16px; color: #353535; line-height: 22px") Новое видео, Кнопки месседжера, Ссылки на посты из соцсетей, Портфолио, Интернет-магазин - везде, где Вы онлайн. Быстро для Вас и удобно для Вашей аудитории.

    +content2(style="text-align: center; width: 100%")
      tr
        td(style="padding: 0; text-align: center")
          +content2(style="display: inline-block; max-width: 200px; width: 100%; padding: 0 15px 16px" valign="middle")
            tr
              td(style="padding: 0")
                img(src="https://tihomirov.pro/email/pic4.png" alt="image" width="170" style="display:block; border: 0; margin: 0 auto")
          +content2(style="display: inline-block; padding: 32px 15px 0; text-align: left; width: 100%; max-width: 390px" valign="middle")
            tr
              td(style="padding: 0")
                p(style="margin: 0 0 16px; font-size: 24px; font-weight: bold; max-width: 290px") Создайте с телефона.
                  br
                  |За 5 минут.
                  br
                  |Без дизайнера и программиста
                p(style="margin: 0 0 32px; font-size: 16px; line-height: 22px; color: #353535") Мы уже подготовили для Вас готовые шаблоны, обучающие видео, краткий видео-гид по созданию двухстраничного сайта - всё, что поможет Вам без труда сделать всё самостоятельно.
                a(href="#" target="_blank" style="display: block; text-align: center; padding: 19px 0; font-size: 18px; width: 100%; max-width: 280px; text-decoration: none; color: #ffffff; background: #000000; border-radius: 30px") Начать создание сайта
    
  +row(style="padding: 60px 0;")
    p(style="margin: 0 0 16px; font-size: 24px; font-weight: bold; color: #262626") 14 дней бесплатного периода уже стартовали
    p(style="margin: 0; font-size: 16px; line-height: 22px; color: #353535") Сейчас у Вас действует пробная версия тарифа Premium. После пробного периода Вы автоматически вернётесь на Free тариф. Вы в любой момент сможете активировать Premium, оплатив его.
    a(href="#" target="_blank" style="display: block; margin: 32px auto 60px; text-align: center; padding: 19px 0; font-size: 18px;  width: 100%; max-width: 280px; text-decoration: none; color: #ffffff; background-color: #2B7AFF; border-radius: 30px") Подробнее о тарифах
  
    p(style="margin: 0 0 16px; font-size: 24px; color: #262626; font-weight: bold") Если Вам нужна помощь
    p(style="margin: 0; font-size: 16px; line-height: 22px; color: #353535") Наша Служба Поддержки помогает по всем вопросам о сервисе: от создания первой страницы сайта до настройки аналитики. Работаем каждый день, быстро отвечаем в мессенджерах и на почте.
    a(href="#" target="_blank" style="display: block; margin: 32px auto 0; text-align: center; padding: 19px 0; font-size: 18px; width: 100%; max-width: 280px; text-decoration: none; color: #ffffff; background-color: #2B7AFF; border-radius: 30px") Написать нам

  +footer2()
