extends ../layout/page

block content
  +logo2

  +row(style="text-align: center; padding: 0 0 32px;")
    p(style="margin: 0 0 50px; font-size: 18px; font-weight: bold") Приветствуем, [username], не знаете с чего начать?
    p(style="margin: 0 auto 32px; font-size: 24px; max-width: 440px; font-weight: bold") Краткий видеогид по созданию простого двух-страничного сайта:

  +row
    a(href="#" style="display: block")
      img(src="https://tihomirov.pro/email/video-pic.jpg" alt="image" width="100%" style="display:block; border: 0")

    a(href="#" target="_blank" style="display: block; margin: 50px auto 0; text-align: center; padding: 19px 0; font-size: 18px; width: 100%; max-width: 280px; text-decoration: none; color: #ffffff; background-color: #2B7AFF; border-radius: 30px") Создать сайт

  +row(style="text-align: center; padding: 50px 0px;")
    p(style="margin: 0 auto 50px; font-size: 18px; max-width: 530px; font-weight: bold") Две с половиной минуты, чтобы получить общее представление об интерфейсе и процессе создания сайта.
    p(style="margin: 0; font-size: 24px; font-weight: bold") Что делать дальше?

  +row(style="background: #F0F0F0; padding: 40px 0")

    +content2(style="padding-bottom: 10px; width: 100%")
      tr
        td(style="padding: 0; text-align: center")
          +content2(style="display: inline-block; padding: 0 15px; max-width: 240px; width: 100%" valign="middle")
            tr
              td(style="padding: 0")
                img(src="https://tihomirov.pro/email/pic5.png" alt="image" width="210" style="display:block; border: 0; margin: 0 auto")
          +content2(style="display: inline-block; text-align: left; width: 100%; padding: 32px 15px; max-width: 350px" valign="middle")
            tr
              td(style="padding: 0")
                p(style="margin: 0 0 16px; font-size: 24px; font-weight: bold; max-width: 290px") Создать с нуля.
                  br
                  |Прямо с телефона
                p(style="margin: 0; font-size: 16px; color: #353535; line-height: 22px") Разместите информацию “О себе”, блоки с ссылками на мессенджеры и соцсети - этого будет достаточно. Все можно настроить за 5-10 минут прямо с Вашего телефона.
                p(style="font-size: 16px; color: #353535; line-height: 22px") Не забывайте, что помочь с настройкой блоком поможет раздел “Обучающие уроки”

    +content2(style="text-align: center; width: 100%")
      tr
        td(style="padding: 0; text-align: center")
          +content2(style="display: inline-block; padding: 0 15px 16px; max-width: 240px; width: 100%" valign="middle")
            tr
              td(style="padding: 0")
                img(src="https://tihomirov.pro/email/pic6.png" alt="image" width="210" style="display:block; border: 0; margin: 0 auto")
          +content2(style="display: inline-block; padding: 32px 15px 0; text-align: left; width: 100%; max-width: 350px" valign="top")
            tr
              td(style="padding: 0")
                p(style="margin: 0 0 16px; font-size: 24px; font-weight: bold; max-width: 290px") Выбрать готовый шаблон от дизайнеров:
                p(style="margin: 0 0 32px; font-size: 16px; line-height: 22px; color: #353535") Выберите готовый шаблон из бесплатной галереи. Отредактируйте тексты, замените ссылки и фото. Раз, два и сайт готов!
   
  +row(style="text-align: center; padding: 0 0 40px; background: #F0F0F0;")
     a(href="#" target="_blank" style="display: inline-block; text-align: center; padding: 19px 0; font-size: 18px; width: 100%; max-width: 280px; text-decoration: none; color: #ffffff; background: #000000; border-radius: 30px") Выбрать шаблон


  +row(style="padding: 60px 0;")
    p(style="margin: 0 0 16px; font-size: 24px; color: #262626; font-weight: bold") Если Вам нужна помощь
    p(style="margin: 0; font-size: 16px; line-height: 22px; color: #353535") Наша Служба Поддержки помогает по всем вопросам о сервисе: от создания первой страницы сайта до настройки аналитики. Работаем каждый день, быстро отвечаем в мессенджерах и на почте.
    a(href="#" target="_blank" style="display: block; margin: 32px auto 0; text-align: center; padding: 19px 0; font-size: 18px; width: 100%; max-width: 280px; text-decoration: none; color: #ffffff; background-color: #2B7AFF; border-radius: 30px") Написать нам

  +footer2()
  