mixin blocks
  include btn
  include img
  include textLink
  include footer
  include content
  include hello
  include logo
  include td
  include row
  include head-image
  include content-footer