mixin btn(data)
  a(
    href!=data.href
    target="_blank"
    style="box-sizing: border-box; display: inline-block; font-weight: bold; font-size: 14px; padding: 10px 20px; border-radius: 30px; background-color: #2B7AFF; text-decoration: none; color: #ffffff; text-align: center; margin: 0 auto"
  )!=data.text