mixin footer()
  +row(align="center" style="color: #bababa; padding: 32px 0 32px 0")
    a(href="https://tap.link/unsubscribe" target="_blank" style="display: block; color: #bababa; text-decoration: none; padding: 0 0 16px 0") Отписаться от полезной рассылки
    a(href="mailto:support@tap.link" target="_blank" style="display: block; color: #bababa; text-decoration: none") Обратная связь

  +row(align="center" style="color: #bababa; padding: 0 0 32px 0")
    p(style="margin: 0 0 32px 0")
      a(href="https://www.instagram.com/tap.link.ru/" target="_blank" style="display: inline-block; margin: 0 10px")
        img(src="https://assets.tap.link/images/email/instagram-icon.png" alt="instagram" height="16" style="border: 0;")

      a(href="https://t.me/taplinkrussia" target="_blank" style="display: inline-block; margin: 0 10px")
        img(src="https://assets.tap.link/images/email/telegram-icon.png" alt="telegram" height="16" style="border: 0;")

      a(href="https://www.youtube.com/channel/UCYM0xQNY4wtjhIhUUYOOJ_w" target="_blank" style="display: inline-block; margin: 0 10px")
        img(src="https://assets.tap.link/images/email/youtube-icon.png" alt="youtube" height="16" style="border: 0;")
    p © Taplink Global, Inc
    p 111 Pier Avenue, Suite 100, Hermosa Beach, CA 90254 USA
    a(href="tel:+14244071002" target="_blank" style="display: block; color: #bababa; text-decoration: none") +1(424)407-10-02

mixin footerNotUnsubscribe()
  +row(align="center" style="color: #bababa; padding: 32px 0 32px 0")
    a(href="mailto:support@tap.link" target="_blank" style="display: block; color: #bababa; text-decoration: none") Обратная связь

  +row(align="center" style="color: #bababa; padding: 0 0 32px 0")
    p(style="margin: 0 0 32px 0")
      a(href="https://www.instagram.com/tap.link.ru/" target="_blank" style="display: inline-block; margin: 0 10px")
        img(src="https://assets.tap.link/images/email/instagram-icon.png" alt="instagram" height="16" style="border: 0;")

      a(href="https://t.me/taplinkrussia" target="_blank" style="display: inline-block; margin: 0 10px")
        img(src="https://assets.tap.link/images/email/telegram-icon.png" alt="telegram" height="16" style="border: 0;")

      a(href="https://www.youtube.com/channel/UCYM0xQNY4wtjhIhUUYOOJ_w" target="_blank" style="display: inline-block; margin: 0 10px")
        img(src="https://assets.tap.link/images/email/youtube-icon.png" alt="youtube" height="16" style="border: 0;")
    p © Taplink Global, Inc
    p 111 Pier Avenue, Suite 100, Hermosa Beach, CA 90254 USA
    a(href="tel:+14244071002" target="_blank" style="display: block; color: #bababa; text-decoration: none") +1(424)407-10-02

  +row(align="center" style="color: #bababa; font-size: 12px; padding: 0 0 32px 0") {{unsubscribe_url}}



mixin footer2()
  +row(align="center" style="color: #626262; padding: 30px 30px 0; font-size: 16px; line-height: 22px; background: #F0F0F0")
    p(style="margin: 0 0 30px") Мы публикуем всю важную информацию об обновлении сервиса в наших соцсетях. Не забудьте подписаться.

  +row(align="center" style="padding: 0 30px 64px; background: #F0F0F0")
    a(href="https://www.instagram.com/tap.link.ru/" target="_blank" style="display: inline-block; margin: 0 10px")
      img(src="https://tihomirov.pro/email/insta.png" alt="instagram" height="36px" style="border: 0;")

    a(href="https://t.me/taplinkrussia" target="_blank" style="display: inline-block; margin: 0 10px")
      img(src="https://tihomirov.pro/email/telegram.png" alt="telegram" height="36px" style="border: 0;")

  +row(align="center" style="color: #626262; padding: 0 30px 8px; font-size: 16px; line-height: 32px; background: #F0F0F0")
    p(style="margin: 0") © Taplink Global, Inc
    p(style="margin: 0") 111 Pier Avenue, Suite 100, Hermosa Beach, CA 90254 USA
    a(href="tel:+14244071002" target="_blank" style="display: block; color: #626262; text-decoration: none; margin-bottom: 60px") +1(424)407-10-02
    a(href="https://tap.link/unsubscribe" target="_blank" style="display: block; color: #2B6EF0; font-size: 16px;") Отписаться
