mixin logo()
  tr
    td(style="padding: 32px 0 32px 0"  align="center")&attributes(attributes)
      a(
        href="https://tap.link/"
        target="_blank"
      )
        img(src="https://assets.tap.link/images/email/taplink-logo.png" alt="Logo" width="120" style="border: 0;")

mixin logo2()
  tr
    td(style="padding: 32px 0 32px 0"  align="center")&attributes(attributes)
      a(
        href="https://tap.link/"
        target="_blank"
      )
        img(src="https://tihomirov.pro/email/logo.png" alt="Logo" width="120" style="border: 0;")